li.skill-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
}

li.skill-item span.skill-name{
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li.skill-item:hover span.skill-name{
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 1.1rem;
    font-weight: 500;
}


li.skill-item img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, filter 0.3s ease;
    z-index: 2;
}

li.skill-item:hover img {
    transform: scale(0.9);
    filter: blur(3px) saturate(70%) brightness(80%) contrast(80%);
    opacity: 0.3;
}
