li.skill-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

li.skill-item:hover{
  flex-direction: row;
  justify-content: space-evenly;
}

li.skill-item span.skill-name{
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%) translateX(0);
    white-space: nowrap;
}

li.skill-item:hover span.skill-name{
    opacity: 1;
    transform: translate(-50%, -50%) translateX(10px);
    position: relative;
    transition: opacity 0.3s ease, transform 0.9s ease;
}


li.skill-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    z-index: 2;
}

li.skill-item:hover img {
    transform: scale(0.7);
}
