section.main-menu {
    background-color: rgb(213, 155, 104);
    margin: 0px auto 0px auto;
    border-radius: 20px;
    height: 50px;
    width: 70%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    top: 5px;    
    left: 15%;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
}

section.main-menu ul.main-options {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

/* section.main-menu ul.main-options li.option {
    padding: 0px;
} */
section.main-menu ul.main-options li.option a {
    text-decoration: none;
    padding: 17px 25px;
    color: black;
    font-weight: 500;
    align-items: center;
}

section.main-menu ul.main-options li.option:last-child a {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

section.main-menu ul.main-options li.option a:hover {
    background-color: rgb(160, 103, 54);
}

section.main-menu div.author-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding-left: 30px;

}

section.main-menu li#chronicles-option a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px; 
}

