section.experiences-section {
    width: 85%;
    margin: 20px auto 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


section.experiences-section div.tab-selector{
    width: 70%;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 0 auto 30px auto;
}

section.experiences-section div.tab-selector button{
    background-color: transparent;
    border: none;
    width: 30%;
    height: 100px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}


section.experiences-section div.tab-selector button img {
    position: absolute;
    height: 50%;
    width: auto;
    top: 5%;
    left: 37%;
}

section.experiences-section div.tab-selector button.CHG-btn img {
    height: 25%;
    width: auto;
    top: 30%;
    left: 27%;
}

section.experiences-section div.tab-selector button.active {
    background: linear-gradient(to top right, rgba(32, 32, 46, 0.116),rgba(32, 32, 46, 0.014));
    opacity: 1;
    animation: init-btn-active 0.5s ease-in ;
    cursor: default;
    
}



@keyframes init-btn-active {
    0% { opacity: 0 }
    100% { opacity: 1}

}

section.experiences-section div.tab-selector button:not(.active) {
    opacity: 0.75;
    transform: scale(0.75);
    animation: init-btn-inactive 0.5s ease-in;
}

section.experiences-section div.tab-selector button:hover:not(.active){
    background: linear-gradient(to top right, rgba(32, 32, 46, 0.07),rgba(32, 32, 46, 0.014));
    opacity: 0.9;
}

@keyframes init-btn-inactive {
    0% { opacity: 0; }
    100% { opacity: 0.75;}

}

section.experiences-section div.tab-selector button p {
    color: black;
    transform: translateY(30px);
}


section.experiences-section div.tab-container{
    width: 100%;
    height: 1250px;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

section.experiences-section div.tab-container section.job-experience {
    position: absolute;
    left: 15%;
    transition: transform 1s ease
}


