section.skills-list {
    width: 90%;
    margin: 0px auto 80px 10px;
}


section.skills-list ul.skill-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    padding: 0px 40px 0px 0px;
    column-gap: 20px;
    row-gap: 40px;
    width: auto;
    justify-content: center;
}





