
section.job-experience {
    width: 70%;
    margin-top: 30px;
    background-color: rgb(213, 155, 104, .5);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin: 0px auto 20px auto;
}

section.job-experience h3.header,
section.job-experience div.body
{
    padding-left: 15px;
    padding-right: 15px;
}

section.job-experience h3.header {
    font-weight: 700px;
    margin-bottom: 10px;
    margin-top: 10px;
}

section.job-experience div.subheading {
    display: flex;
    justify-content: space-between;
}

section.job-experience div.subheading h4 {
    margin: 0px 0px 10px 0px;
    font-size: 1.07em;
    font-weight: 600;
}

section.job-experience p.description {
    text-align: justify;
    line-height: 1.25;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #333d42
}

section.job-experience ul.tasks {
    padding-left: 30px;
    color: #333d42;
    list-style-type: circle;
    margin-top: 5px;
}

section.job-experience ul.tasks li {
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.25;
}

/* section.job-experience::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.20; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 0;
    width: 80%;
    height: 80%;
} */

/* Specific backgrounds for each company */
/* section.professional-experience div.arch.company-section::before {
    width: 150px;  
    height: 150px;
    background-image: url('../images/company-arch.png');
} */
/* section.professional-experience div.globe.company-section::before {
    width: 250px;  
    height: 250px;
    background-image: url('../images/company-globe.png');
}
section.professional-experience div.chg.company-section::before {
    width: 220px;  
    height: 220px;
    background-image: url('../images/company-chg.png');
} */
